
/* Global */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
    /* Colors */
    --dark-theme-surface: #121212;
    --primary: #C6FF00;
    --error: #e20029;
    --elevation-01: rgba(255, 255, 255, .05);

    --high-emphasis-opacity: 87%;
    --medium-emphasis-opacity: 60%;

    /* animations */
    --typing-speed: 1000ms;
    --cursor-blink-speed: 500ms;
    --typing-delay: 1000ms;
    --line-one-delay: 1000ms;
    --loading-icon-speed: 150ms;
    --loading-time: 3000ms;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--dark-theme-surface);
}

h1 {
    font-size: 3rem;
    opacity: var(--high-emphasis-opacity);
}

p {
    opacity: var(--high-emphasis-opacity);
}

.primary-color {
    color: var(--primary);
}

.error-color {
    color: var(--error);
    opacity: var(--high-emphasis-opacity);
}

.tile {
    padding: 1rem;
    border-radius: 1rem;
}

.elevation-01 {
    background-color: var(--elevation-01);
}

/* Terminal */
.terminal {
    font-family: 'Space Mono', monospace;
    padding-left: 5rem;
    padding-right: 5rem;
}

#command-prompt {
    font-size: 3rem;
    display: inline-block;
    margin-right: 1rem;
}

#init {
    display: inline-block;
    position: relative;
    width: max-content;
    padding-left: 0.1em;
    clip-path:inset(0% calc(100% - 0.1em) 0% 0%);
    animation: typing var(--typing-speed) steps(9) var(--typing-delay) forwards;
}

#init::before,
#init::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/*command line cursor*/
.cursor-active::before {
    width: .1em;
    background: white;
    animation: 
        cursorMove var(--typing-speed) steps(9) var(--typing-delay) forwards,
        cursorBlink var(--cursor-blink-speed) steps(9) infinite;
}

@keyframes typing {
    to {
        clip-path:inset(0% 0% 0% 0%);
    }
}

@keyframes cursorMove {
    to {
        left: calc(100% - 0.1em);
    }
}

@keyframes cursorBlink {
    to {
        background: transparent;
    }
}

#console-line-1, #console-line-2 {
    display: none;
    font-size: 2rem;
}

.links {
    display: none;
    justify-content: center;
}

i {
    padding: 1rem;
    opacity: var(--high-emphasis-opacity);
}

/* Main content */
#content-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}